<div class="score_keeper" ng-controller="ScoreKeepersCtrl as skeeps">
  <div class="Welcome">
    HEATMAP PAGE!!!
  </div>

  <div class="identifiers">
    <a href><div class="fg_missed_button">
      SHOTS MISS
      <h1><%= @missed_shots.length %></h1>
    </div></a>
    
    <a href><div class="fg_made_button">
      SHOTS MADE
      <h1><%= @made_shots.length %></h1>
    </div></a>
    
    <a href><div class="rebound_button">
      REBOUNDS
      <h1><%= @rebounds.length %></h1>
    </div></a>
    
    <a href><div class="steal_button">
      STEALS
      <h1><%= @steals.length %></h1>
    </div></a>
    
    <a href><div class="turnover_button">
      TURNOVERS
      <h1><%= @turnovers.length %></h1>
    </div></a>
    
    <a href><div class="block_button">
      BLOCKS
      <h1><%= @blocks.length %></h1>
    </div></a>

    <a href><div class="clear_heatmap">
      <h1>CLEAR DATA</h1>
    </div></a>
  </div>

  <div class="heat_court" ></div>
<!--   <div class="heat_court shots_missed"></div>
  <div class="heat_court shots_made"></div>
  <div class="heat_court rebounds"></div>
  <div class="heat_court steals"></div>
  <div class="heat_court blocks"></div>
  <div class="heat_court turnovers"></div> -->



</div>
