<p> This is the show page for Teams</p>
  <li><%= current_user.name %></li><br>


<% current_user.teams.each do |team| %>
  <li><a href= "/teams/<%=team.id %>"><%=team.name %></a></li><br>
<%end%>

<%= link_to("create team", new_team_path) %>


<h2>Teams</h2>
<h3>Create a new team</h3>
    <ul class="welcome_form">
      <%= form_for(:team, :url => {:controller => 'team', :action => 'create'}) do |f|%>
        <li><%= f.text_field :name, :size => 70, placeholder: 'Team Name' %></li>
        <li><%= f.text_field :school, :size => 70, placeholder: 'School Name' %></li>
        <li class = "button"><%= f.submit "Create" %></li>
      <% end %>
    </ul>

<h2>Seasons</h2>
<ul class="welcome_form">
      <%= form_for(:season, :url => {:controller => 'season', :action => 'create'}) do |f|%>
        <li><%= f.text_field :name, :size => 70, placeholder: 'Season Name ie 2014-15' %></li>
         <%= fields_for :season do |t| %>
         <li><p>What is the Team? <%= t.collection_select :team_id, current_user.teams.order(:name),:id, :name %></p></li>
        <li class = "button"><%= f.submit "Create" %></li>
        <%end%>
      <% end %>
    </ul>




<h2>Games</h2>
 <ul class="welcome_form">
      <%= form_for(:team, :url => {:controller => 'team', :action => 'create'}) do |f|%>
        <li><%= f.datetime_field :date, placeholder: 'Date ex 01/12/13' %></li>
        <li><%= f.text_field :location, :size => 70, placeholder: 'home or away' %></li>

        <li class = "button"><%= f.submit "Create" %></li>
      <% end %>
    </ul>
