<div ng-controller="DashboardCtrl as dash">
   <h1>Coach <%= @user.name %></h1><br>

<!-- TEAMS ROW -->
  <h2 ng-class="{ active: dash.isSet('teams') }">
    <a href ng-click="dash.selectRow('teams')">Teams</a>
  </h2>

  <!-- Show teams attached to user -->
  <div ng-show="dash.isSet('teams')" class="teams">

    <!-- Add a new team for user -->
    <div class="dash dash-team" ng-click="dash.displayForm('team')">+</div>

    <!-- REPEAT DIV PER TEAM -->
    <div class="dash dash-team" ng-repeat="team in dash.teams" ng-click="dash.showDerivative({team: team.id},'seasons')">
      {{team.id}} {{team.name}}
    </div>
  </div>

  <!-- <new-team ng-show="dash.shouldDisplay('team')"></new-team> -->
  <h1 ng-show="dash.shouldDisplay('team')">IT WORKS</h1>

<!-- SEASONS ROW -->
  <h2 ng-class="{ active: dash.isSet('seasons') }">
    <a href ng-click="dash.selectRow('seasons')">Season</a>
  </h2>

  <!-- Show seasons per selected team -->
  <div ng-show="dash.isSet('seasons')" class="seasons">

    <!-- Add a new season for selected team -->
    <div class="dash dash-season" ng-click="hai">+</div>

    <!-- REPEAT DIV PER SEASON -->
    <div class="dash dash-season" ng-repeat="season in dash.seasons" ng-show="season.team_id === dash.team_id" ng-click="dash.showDerivative({season: season.id},'games')">
      {{season.team_id}} {{season.name}} TEAMID:{{dash.team_id}}
    </div>

  </div>

<!-- GAMES ROW -->
  <h2 ng-class="{ active: dash.isSet('games') }">
    <a href ng-click="dash.selectRow('games')">Games</a>
  </h2>

  <!-- Show games per selected season -->
  <div ng-show="dash.isSet('games')" class="games">

    <!-- Add a new game for selected season -->
    <div class="dash dash-game" ng-click="hai">+</div>

    <!-- REPEAT DIV PER GAME -->
    <div class="dash dash-game" ng-repeat="game in dash.games" ng-show="game.season_id === dash.season_id">
      {{game.opponent}} {{game.date}} {{game.win}} {{game.team_score}} {{game.opp_score}} {{game.season}} SEASONID: {{dash.season_id}}
    </div>
  </div>

  <%= link_to("create new season", new_season_path) %>

</div>



<h2>Teams</h2>
<h3>Create a new team</h3>
    <ul class="welcome_form">
      <%= form_for(:team, :url => {:controller => 'team', :action => 'create'}) do |f|%>
        <li><%= f.text_field :name, :size => 70, placeholder: 'Team Name' %></li>
        <li><%= f.text_field :school, :size => 70, placeholder: 'School Name' %></li>
        <li class = "button"><%= f.submit "Create" %></li>
      <% end %>
    </ul>

<h2>Seasons</h2>
<ul class="welcome_form">
      <%= form_for(:season, :url => {:controller => 'season', :action => 'create'}) do |f|%>
        <li><%= f.text_field :name, :size => 70, placeholder: 'Season Name ie 2014-15' %></li>
         <%= fields_for :season do |t| %>
         <li><p>What is the Team? <%= t.collection_select :team_id, current_user.teams.order(:name),:id, :name %></p></li>
        <li class = "button"><%= f.submit "Create" %></li>
        <%end%>
      <% end %>
    </ul>





<h2>Games</h2>
 <ul class="welcome_form">
      <%= form_for(:game, :url => {:controller => 'game', :action => 'create'}) do |f|%>
        <li><%= f.datetime_field :date, placeholder: 'Date ex 01/12/13' %></li>
        <li><%= f.text_field :location, :size => 70, placeholder: 'home or away' %></li>
        <li><%= f.text_field :season_id, :size => 70, placeholder: 'season id for testing purposes' %></li>

        <li class = "button"><%= f.submit "Create" %></li>
      <% end %>
    </ul>


    <h2>Stats</h2>
 <ul class="welcome_form">
      <%= form_for(:stat, :url => {:controller => 'stat', :action => 'create'}) do |f|%>
        <li><%= f.text_field :stat_type, placeholder: 'FG/FT/R' %></li>
        <li><%= f.text_field :game_id, :size => 10, placeholder: 'game id for testing purposes' %></li>

        <li class = "button"><%= f.submit "Create" %></li>
      <% end %>
    </ul>
